@{
  Layout = "_Layout";
}
@using SillystringzFactory.Models;
@model List<SillyStringzFactory.Models.Engineers>;
<div class="container">
  <div class=Header>
    <h1 id=HeaderText> Engineers</h1>
  </div>  
  <div id="engineer_index">
    @if(Model.Count == 0)
    {
      <h3>No engineers have been hired!</h3>
    }

    @foreach(Engineer engineer in Model)
    {
      <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId})</li>
    }
    <p>@Html.ActionLink("Hire an Engineer", "Create")</p>
    <p>@Html.ActionLink("Homepage", "Index", "Home")</p>

  </div>
</div>