@{
  Layout = "_Layout";
}
<div class="container">
  <div id=homepage>
    <h1>Sillystringz's engineers and machine repair</h1>
    <br>
    <h3> WHERE MACHINES AND ENGINEERS PLAY!</h3>
    <p>@Html.ActionLink("See all engineers","Index","Engineers")</p>
    <p>@Html.ActionLink("See all machines", "Index", "Machines")</p>
  </div>
</div>